.icon-link-menu {
  color: black;
}

.img-dimension {
  transform: scale(1.5);
  width: 100%;
}

.topbar-profile-photo,
.like-profile-photo {
  width: 1.5em;
  height: 1.5em;
  position: relative;
}

.stories-profile-photo {
  width: 56px;
  height: 56px;
  position: relative;
}

.stories-username {
  font-size: small;
}

.post-profile-photo {
  width: 46px;
  height: 46px;
  position: relative;
}

.icon-link-post {
  color: black;
}
